/*
Regla CC consta de 2 partes:
    Selector{
        Declaración (son los aatributos que le damos a un elemento)
        atributo: valor;
    }
*/

h1{
    color: rgb(255, 0, 0); /*Atributo color con valor blue*/
    background-color: rgb(21, 0, 255); /*Atributo background-color con valor yellow*/
}

button{
    background-color: rgba(85, 255, 0, 0.568);
    color: rgb(255, 255, 255);
}

/* Otro tipo de selectores son las clases */

.azul{
    background-color: cornflowerblue;
    color: rgb(35, 93, 130);
}

.verde{
    background-color: yellowgreen;
    color: rgb(132, 94, 186);
}

.text-20{
    font-size: 20px;
}

.text-35{
    font-size: 35px;
}

/* Manejar colores con nombre */

.color-by-name{
    background-color: red;
    color: white;
    border: thick solid yellow;
}   

/* Manejar colores con Hexadecimal */

.color-by-hex{
    background-color: #F555;
    color: #FFFF;
    border: thick solid #256A;
}  

/* Manejar colores con RGB */

.color-by-rgb{
    background-color: rgb(208, 123, 124);
    color: rgb(0, 0, 0);
    border: thick solid rgb(87, 87, 114);
}